
<%= form_for(@note) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br>
    <div class="input-letter"><%= f.text_field :text,:placeholder=>"Text",:style => 'text-align:center;background-image: url("");',:class=>'form-control'   %></div>
  </div>
    <br>
  <div class="field">
    <%= select(:note,:color, [
      ['Grey', "notaCinza"],
      ['Turquoise', "notaAzul"],
      ['Orange', "notaLaranja"],
      ['Red', "notaRed"],
      ['Yellow', "notaAmarelo"],
      ['Blue', "notaAzulClaro"],
      ['Purple', "notaRoxo"],
      ['Brown', "notaCastanho"],
      ['Green', "notaVerde"],
    ])%>
  </div>
  <%= f.hidden_field :board_id, value: @board.id %>
<br>

  <div class="actions">
    <%= button_to "Submit", dynamics_path, method: :submit,:type =>type="button",:class=>'btn btn-success' %> 
  </div>

<% end %>
