
<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.css">
    <style>.wow:first-child {visibility: hidden;}</style>
    <title>IdeaTouch</title>
  </head>

  <body>

    <div class="preload"></div>

    <div class="content">

    <div class= "wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
    <div id="topo">
      <div class="topo-Logo wow fadeIn" data-wow-duration="1.0s" data-wow-delay="1.0s">
          IDeaTouch
      </div>
      <a class="animsition-link">
        <%= link_to sign_out_path, method: :delete  do %>
        <div class="topo-perfil wow fadeInRight" data-wow-duration="1.1s" data-wow-delay="1.1s">
          <span class="glyphicon glyphicon-off" aria-hidden="true">
          </spam>
        </div>
        <% end %>
      </a>
      <div class="topo-perfil wow fadeInRight" data-wow-duration="1.2s" data-wow-delay="1.2s">
         <span class="glyphicon glyphicon-user" aria-hidden="true">
         </spam>
      </div>

      <div class="topo-perfil wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="1.3s">
        <span class="glyphicon glyphicon glyphicon-bell" aria-hidden="true">
        </spam>
      </div>
      </div>
    </div>
    <br><br><br>





        <div id="box-3" class="box">

            <div class = "hvr-curl-top-left2 wow rotateIn" data-wow-duration="0.5s" data-wow-delay="0.5s" >
              <%= link_to "/dynamics" , method: :get  do %>
              <div class="dynamicAzul"> 
                <h2>Dynamic</h2> 
                <span class="glyphicon glyphicon-king" aria-hidden="true" ></span>
                <%= @board.dynamic.name %>
                <br><br><div class="hvr-wobble-horizontal">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></div>

              </div>
              <% end %>
            </div>


            <div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s" >
            <%= link_to "/dynamics/#{@board.dynamic.id}", method: :get  do %>
            <div class="boardRed"> 
             <h2>Board</h2> 
              <%= @board.name %>
              <br><br><p><p><p><div class="hvr-wobble-horizontal">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></div>
             </div>
            <% end %>
            </div>


            <% for note in @board.notes %>
                <div class = "hvr-curl-top-left  wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s" >
                  <div class="notaAmarelo">
                   <div class="hhp"><%= note.id%></div>
                   <hh4><%= note.text %></hh4>
                  </a> 
                </div>
              </div>
            <% end %>



          <br><br>
          <div class="linee wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s"></div>
          <br>

          <%= link_to addNote_path(@board) , method: :get  do %>
          <div class="notaMenu wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">                
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-file" aria-hidden="true" >
                  </span> </div> <div class="hh2"> New Note</div> 
          </div>
          <% end %>

          <div class="notaMenu wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">                
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" >
                  </span> </div> <div class="hh2"> View Note</div> 
          </div>

          <div class="notaMenu wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-pencil" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Edit Note</div> 
          </div>
          <div class="notaMenu wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s"> 
                        <br>
                  <div class="hh1"><span class="glyphicon glyphicon-move" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Move to Board</div> 
           </div>
          <div class="notaMenu wow fadeInUp" data-wow-duration="0.9s" data-wow-delay="0.9s"> 
                        <br>
                  <div class="hh1"><span class="glyphicon glyphicon-trash" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Delete Note</div> 

           </div>


           <div class="boardMenu wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="1.0s"> 
                        <br>
                  <div class="hh1"><span class="glyphicon glyphicon-edit" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Edit Board</div> 

           </div>

          <%= link_to  @board, method: :delete, data: { confirm: 'Are you sure?' } do %>
           <div class="boardMenu wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="1.0s"> 
                        <br>
                  <div class="hh1"><span class="glyphicon glyphicon-minus" aria-hidden="true" >
                  </span> </div> <div class="hh2"> Delete Board</div> 
           </div>
          <% end %>


            <div class="dynamicMenu wow fadeInUp" data-wow-duration="1.1s" data-wow-delay="1.1s"> 
            <br>
                  <div class="hh1"><span class="glyphicon glyphicon-time" aria-hidden="true" >
                  </span> </div> <div class="hh2"> 00-00-00</div>
           </div>

    </div>


    <script src="js/wow.js"></script>
    <script>wow = new WOW({animateClass:'animated',offset:100,
      callback:function(box){console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")}});
      wow.init();
      document.getElementById('moar').onclick = function() {
      var section = document.createElement('section');
      section.className = 'section--purple wow fadeInDown';
      this.parentNode.insertBefore(section, this);};
    </script>

    <script>
      $(function() {
          $(".preload").fadeOut(10, function() {
              $(".content").fadeIn(10);        
          });
      });
    </script>

  </body>
</html>

