<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @board.descricao %>
</p>

<p>
  <strong>Dynamic:</strong>
  <%= @board.dynamic %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
