<html>
  <head>
    <link rel="stylesheet" href="css/animate.css">
    <style>.wow:first-child {visibility: hidden;}</style>
    <title>IdeaTouch</title>
  </head>

  <body>

    <div class="preload"></div>
    <div class="content">

    <div class= "wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
    <div id="topo">
      <div class="topo-Logo wow fadeIn" data-wow-duration="1.0s" data-wow-delay="1.0s">
          IDeaTouch
      </div>
        <%= link_to sign_out_path, method: :delete  do %>
        <div class="topo-perfil wow fadeInRight" data-wow-duration="1.1s" data-wow-delay="1.1s">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></spam>
        </div>
        <% end %>
        
      <div class="topo-perfil wow fadeInRight" data-wow-duration="1.2s" data-wow-delay="1.2s">
        <span class="glyphicon glyphicon glyphicon-bell" aria-hidden="true">
        </spam>
      </div>

      <div class="topo-perfil wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="1.3s">
         <span class="glyphicon glyphicon-user" aria-hidden="true">
         </spam>
      </div>

      </div>
    </div>

    <div id = "topo2">
      
      <div class="caixa-icon wow fadeInLeft" data-wow-duration="0.4s" data-wow-delay="0.4s">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true" ></span>
       </div>

       <%= link_to "/dynamics" , method: :get  do %>
        <div class="caixa-menu wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
          <div class="letraTitulo"> 
            Dynamic 
          </div>
          <div class="letraNome"> 
            <span class="glyphicon glyphicon-king" aria-hidden="true" ></span>
            <%= @dynamic.name %> 
          </div>
         </div>
        <% end %>


       <div class="caixa-relogio wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class="letraRelogio">
          1 Day 2 Hour 12 Minuts Left
          <span class="glyphicon glyphicon-time" aria-hidden="true" ></span>
        </div>
       </div>
      

    </div>

  <br><br><br>
    

      <div id="box-2">
<br><br>

       <div class="fora">
          <div class="lateralDynamic-perfil wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></spam>
          </div>
          <div id="hover-content">
               <div class="lateral2Dynamic-perfil wow fadeInLeft" data-wow-duration="0.2s" data-wow-delay="0.2s">Dynamic Info</div>
          </div>
        </div>
<br><br><br>

       <div class="fora">
          <div class="lateralDynamic-perfil wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></spam>
          </div>
          <div id="hover-content">
               <div class="lateral2Dynamic-perfil wow fadeInLeft" data-wow-duration="0.2s" data-wow-delay="0.2s">Favorite Notes</div>
          </div>
        </div>
<br><br><br>


        <div class="fora">
          <div class="lateralDynamic-perfil wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></spam>
          </div>
          <div id="hover-content">
               <div class="lateral2Dynamic-perfil wow fadeInLeft" data-wow-duration="0.2s" data-wow-delay="0.2s">Dynamic Statistics</div>
          </div>
        </div>
<br><br><br>

        <div class="fora">
          <div class="lateralDynamic-perfil wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></spam>
          </div>
          <div id="hover-content">
               <div class="lateral2Dynamic-perfil wow fadeInLeft" data-wow-duration="0.2s" data-wow-delay="0.2s">Invite people</div>
          </div>
        </div>
<br><br><br>

        <div class="fora">
          <div class="lateralDynamic-perfil wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></spam>
          </div>
          <div id="hover-content">
               <div class="lateral2Dynamic-perfil wow fadeInLeft" data-wow-duration="0.2s" data-wow-delay="0.2s">Edit Dynamic</div>
          </div>
        </div>
<br><br><br>
        
         <%= link_to  @dynamic, method: :delete, data: { confirm: 'Are you sure?' } do %>
         <div class="fora">
          <div class="lateralDynamic-perfil wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
            <span class="glyphicon glyphicon-minus-sign"  aria-hidden="true"></spam>
          </div>
          <div id="hover-content">
               <div class="lateral2Dynamic-perfil wow fadeInLeft" data-wow-duration="0.2s" data-wow-delay="0.2s">Delete Board</div>
          </div>
        </div>
         <% end %>
<br><br><br>       

      </div>





        <div id="box-3" class="box">

            

            <% for board in @dynamic.boards %>
            	<div class = "hvr-curl-top-left2 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s" >
            	  <%= link_to board , method: :get  do %>
             	 <div class="boardRed"> 
                <h2>Board</h2> 
                <%= board.name %>
              	</div>
              	<% end %>
            	</div>
            <% end %>

           <%= link_to "/dynamics/#{@dynamic.id}/addBoard" , method: :get  do %>
           <div class="boardMenu wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s"> 
           <div class="hh1"><span class="glyphicon glyphicon-th-large" aria-hidden="true" >
           </span> </div> <div class="hh2"> New Board</div>
           </div>
           <% end %>

    </div>

    <script src="js/wow.js"></script>
    <script>wow = new WOW({animateClass:'animated',offset:100,
      callback:function(box){console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")}});
      wow.init();
      document.getElementById('moar').onclick = function() {
      var section = document.createElement('section');
      section.className = 'section--purple wow fadeInDown';
      this.parentNode.insertBefore(section, this);};
    </script>

    <script>
      $(function() {
          $(".preload").fadeOut(10, function() {
              $(".content").fadeIn(10);        
          });
      });
    </script>
  </body>
</html>

